# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# OS specific
.DS_Store
Thumbs.db
